@model VargasM_Taller1.Models.Equipo

@{
    ViewData["Title"] = "Edit";
}

<h1>Información</h1>

<h4>@Model.Nombre</h4>
<img src="@Model.LogoUrl" width="150" />
<h6>Ciudad: @Model.Ciudad</h6>
<h6>Estadio: @Model.Estadio</h6>
<h6>Director Técnico: @Model.DT</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Partidos Jugados
                <input asp-for="PartidosJugados" class="form-control" />
                <span asp-validation-for="PartidosJugados" class="text-danger"></span>
            </div>
            <div class="form-group">
                Partidos Ganados
                <input asp-for="PartidosGanados" class="form-control" id="ganados" />
                <span asp-validation-for="PartidosGanados" class="text-danger"></span>
            </div>
            <div class="form-group">
                Partidos Empatados
                <input asp-for="PartidosEmpatados" class="form-control" id="empatados" />
                <span asp-validation-for="PartidosEmpatados" class="text-danger"></span>
            </div>
            <div class="form-group">
                Partidos Perdidos
                <input asp-for="PartidosPerdidos" class="form-control" />
                <span asp-validation-for="PartidosPerdidos" class="text-danger"></span>
            </div>
            <button type="button" class="btn btn-warning" onclick="calcularPuntos()">Calcular Puntos</button>
            <p id="puntosTotal" class="mt-2"></p>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
        <script>
            function calcularPuntos() {
                let g = parseInt(document.getElementById("ganados").value) || 0;
                let e = parseInt(document.getElementById("empatados").value) || 0;
                let puntos = (g * 3) + e;
                document.getElementById("puntosTotal").innerText = "Total de puntos: " + puntos;
            }
        </script>
    </div>
</div>
  
<div>
    <a class="btn btn-info" asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
